/* * {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
  } */
  
  /* body {
    background:#2c3e50; 
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx1ZeyoKFvIPXQMbXUIBsQgyVXop3oyqOGI41BiJGeL7jKNX-v";
  } */
  
  form {
    position:relative;
    width:360px;
    height:250px;
    margin:50px auto;
    text-align:center;
    background:#9be4de;
    padding:40px; 
  }
  
  /* h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    font-weight:300;
    margin-bottom:25px;
    color:#0c2022;
    text-shadow:1px 1px 0px white;
  } */
  
  input {
    display:block;
    width:315px;
    padding:14px;
    -webkit-border-radius:6px;
       -moz-border-radius:6px;
            border-radius:6px;
    border:0;
    margin-bottom:12px;
    color:#4e7275;
    font-weight:600;
    font-size:16px;
  }
  
  /* input:focus {
    background:#fafafa;
  } */
  
/*   
  li {
    position:absolute;
    right:40px;
    bottom:62px;
    list-style:none;
  } */
    
  .button {
    position:relative;
    float:left;
    width:145px;
    margin-top:10px;
    background:#204d80;
    color:#fff;
    font-weight:400;
  }
  